/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* all formats */

.cvdate {
  float: right;
  font-style: italic;
  margin-left: 1em;
}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

/* adapt stylesheet for print
from: https://github.com/quarto-dev/quarto-cli/discussions/2538#discussioncomment-4081842 */

/* for page-breaks use style spans
  page-break-before: always;
  page-break-after: always;
*/

@media print {
  @page {
      size: a4 portrait;
      margin: 16mm 18mm 18mm 18mm;
      counter-increment: page;
      @bottom-center {
        content: counter(page)
      }
  }
  .no-print {
      display: none;
  }
  .print-only {
      display: block;
  }

  .contact-block {
      margin-top: 0%;
      margin-bottom: 1.5em;
      text-align: center;
  }

  html {
    font-family: 'Public Sans', sans-serif;
    line-height: 1.5;
  }

  header {
    margin-block-end: 0.5em;
  }
  header h1.title {
      display: none;
  }
  header .author {
    font-size: 2em;
    font-weight: 900;
    color: black;
    text-align: center;
    margin-block-end: 0em;
    margin-bottom: 0;
  }

  h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin: 1em 0 0.4em;
    page-break-after: avoid;
    /* color: blueviolet; */
  }

  h3 {
    font-weight: 700;
    text-transform: uppercase;
    /* color: green; */
  }

  p {
    font-size: small;
    margin: 0.5em 0;
    clear: both;
    page-break-inside: avoid;
  }

  ul {
    clear: both;
    margin: 0.3em 0 0.9em;
    padding-left: 1.4em;
  }

  ul li{
    font-size: smaller;
    margin-bottom: 0.2em;
    page-break-inside: avoid;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: #36a7e9;
  }
}